#kontener
{
    font-family: Helvetica;
    background-color: linen;
    color: #222;
    width: 90%;
}
#header1
{
    float: left;
    background-color: black;
    text-align: left;
    text-decoration: none;
    color: white;
    width: 50%;
    height: 100px;
}
#header2
{
    float: left;
    color: white;
    width: 50%;
    height: 100px;
    background: black;
}
#main
{
    clear: both;
    padding: 20px;
}
table {
    margin: 40px;
}

td {
    padding: 30px;
    text-align: center;
    font-weight: bold;
}
a {
    color: #aaa;
    text-decoration: none;
}

a:hover {
    color: white;
}
#footer
{
    background-color: black;
    padding: 20px;
    color: white;
    text-align: center;
}
li {
    display: inline-block;
    padding: 5px;
    margin: 10px;
    border-bottom: 1px solid white;
}